body {
  background-image: url("https://images.unsplash.com/photo-1605184861755-8f190fea96a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}
